#main_title {
    text-align: center;
}

#magnifying_glass{
    position: absolute;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

#test{
    margin-top: 50%;
}

nav > ul {
    list-style-type: none;
    margin: 0;
}

nav > li {
    display: inline;
}